<script setup lang=ts>
import type { Ship } from "../../Ship";
import { useVModel } from "@vueuse/core";
//components
import ExportDialog from "../dialogs/ExportDialog.vue";
import NumberChip from "../NumberChip.vue";
import ShipNameDialog from "../dialogs/ShipNameDialog.vue";


const emit =defineEmits(["update:ship", "edit", "delete"]);
const props = defineProps<{
    ship: Ship,
    index: number,
    edit_button: boolean,
}>();

const ship = useVModel(props, "ship", emit);

</script>

<template>
    <v-card style="display:flex;" class="ship-card" :to="`/ship/${index}`">
        <div class="handle" />
        <div style="flex-grow:1">
            <v-card-title class="d-flex align-center">
                <v-btn color="primary" size="small" class="d-none d-md-block">
                    Edit
                </v-btn>
                <span v-if="ship.prefix">[{{ ship.prefix }}]</span>
                <em>{{ ship.name || '(untitled)' }}</em>
                <v-spacer />
                <b class="mono">
                    &curren;{{ ship.total_cost() }}
                </b>
                <v-menu>
                    <template #activator="{props: trigger}">
                        <v-btn
                            v-bind="trigger"
                            icon="mdi mdi-cog"
                            variant="text"
                            size="x-small"
                            @click.stop.prevent
                        />
                    </template>
                    <v-list>
                        <!-- add a confirm button -->
                        <v-list-item @click="{}" @click.shift="$emit('delete')">
                            <template #prepend>
                                <v-icon icon="fas fa-trash" size="small" />
                            </template>
                            Delete
                            <v-menu
                                activator="parent"
                                location="end center"
                                @click="$emit('delete')"
                            >
                                <v-btn color="white">
                                    Confirm
                                </v-btn>
                            </v-menu>
                        </v-list-item>
                        <v-list-item @click="{}">
                            <template #prepend>
                                <v-icon icon="fas fa-pencil" size="small" />
                            </template>
                            Rename
                            <ShipNameDialog
                                v-model:name="ship.name"
                                v-model:prefix="ship.prefix"
                                v-model:callsign="ship.callsign"
                            />
                        </v-list-item>
                        <v-list-item @click="{}">
                            <template #prepend>
                                <v-icon icon="mdi mdi-export" size="small" />
                            </template>
                            Export
                            <ExportDialog :ship="ship" />
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-card-title>
            <v-card-text>
                <div class="d-flex flex-wrap">
                    <NumberChip name="Jump" color="secondary">
                        {{ ship.best_jump() }}
                    </NumberChip>
                    <NumberChip name="Acceleration" color="secondary">
                        [#TODO]
                    </NumberChip>
                    <NumberChip name="" color="secondary">
                        #TODO: what other info is useful?
                    </NumberChip>
                </div>
            </v-card-text>
        </div>
    </v-card>
</template>

<style scoped>
.handle {
    background-color: rgb(var(--v-theme-primary-alt));
    width: 1rem;
    cursor: grab;
}
</style>