<script setup lang=ts>
//model
import { Ship } from "../../Ship";
//components
import ExportDialog from "../dialogs/ExportDialog.vue";
import ImportDialog from "../dialogs/ImportDialog.vue";
import SampleDropdown from "../SampleDropdown.vue";

defineEmits(["update:ship"]);
defineProps({
    "ship": {
        type: Ship,
        required: true
    }
});


// makes typescript happy
function internal_print(){
    window.print();
}

</script>

<template>
    <section id="import-export" class="d-flex d-print-none flex-column flex-sm-row">
        <v-btn variant="outlined">
            Import
            <ImportDialog @import="$emit('update:ship', $event)" />
        </v-btn>
        <v-btn variant="outlined">
            Export
            <ExportDialog :ship="ship" />
        </v-btn>
        <SampleDropdown
            :ship="ship"
            button_variant="outlined"
            @update:ship="$emit('update:ship', $event)"
        />
        <v-btn variant="outlined" append-icon="fas fa-print" @click="internal_print()">
            Print
        </v-btn>
    </section>
</template>
