<script setup lang=ts>
import { computed, toRef } from "vue";
//model
import { Ship } from "../../Ship";
import { data } from "../../globals";
//components
import ShipCombatStation from "./ShipCombatStation.vue";

const props = defineProps({
    "ship": {
        type: Ship,
        required: true,
    }
});

const stations = toRef(props.ship, "combat_stations");

const crew_assigned = computed(() => {
    let sum: { [id: string]: number } = {};
    for (let id in data.combat_stations) {
        sum[id] = 0;
        sum[id] += stations.value[id]?.crew?.biological ?? 0;
        sum[id] += stations.value[id]?.crew?.construct ?? 0;
        sum[id] += stations.value[id]?.crew?.infomorph ?? 0;
        sum[id] += stations.value[id]?.crew?.mechanical ?? 0;
        sum[id] += stations.value[id]?.crew?.brainwashed ?? 0;
        sum[id] += stations.value[id]?.crew?.any ?? 0;
    }
    return sum;
});

const total_crew_assigned = computed(() => {
    return Object.values(crew_assigned.value).reduce((prev: number, current: any) => prev + current, 0);
});

/**
 * total crew available for combat station assignment
 */
const crew_available = computed(() => {
    let ship_quarters = props.ship.total_crew_quarters();
    let ship_combat_crew = props.ship.total_crew().tactical;
    return ship_quarters - ship_combat_crew;
});
</script>

<template>
    <section>
        <h2>Combat Stations</h2>
        <p :class="{ 'text-grey': total_crew_assigned == 0 }">
            Crew assigned:
            <b class="mono">{{ total_crew_assigned ?? '--' }}</b>
        </p>
        <p :class="{ 'text-grey': crew_available == 0 }">
            Crew available:
            <b class="mono">{{ crew_available }}</b>
        </p>
        <div class="d-flex flex-column">
            <ShipCombatStation
                v-for="station_id in Object.keys(ship.combat_stations)"
                :key="station_id"
                :ship="ship"
                :station_id="station_id"
            />
        </div>
    </section>
</template>