<script setup lang=ts>
import { inject, reactive } from "vue";
//model
import { Ship } from "../../Ship";
//components
import SampleDropdown from "../SampleDropdown.vue";
import ShipComponent from "./ShipComponent.vue";

defineEmits(["update:ship"]);
const props = defineProps({
    "ship": {
        type: Ship,
        required: true,
    },
});

const simulation = inject("simulation");
//const components = toRef(props.ship, "components");

function sim_set_all_enabled(new_state: boolean){
    for(let component of props.ship.components){
        let state:any;
        for(state of Object.values(component._simulation_state)){
            console.log("sim_enable_all: state=", state);
            state._enabled = new_state;
        }
    }
}

/**
 * re-order components list
 * https://github.com/eliottvincent/vue3-sortablejs#order-mutation
 * @param event 
 */
function sort(event:any){
    console.log("sort", event);
    let items = reactive(props.ship.components);
    let item = items.splice(event.oldIndex, 1)[0];
    items.splice(event.newIndex, 0, item);
}
</script>

<template>
    <section id="ship-component-list">
        <h2 class="d-flex align-center flex-wrap mb-2">
            Components
            <div class="d-flex ml-auto">
                <v-btn size="small" disabled variant="plain" class="pr-0">
                    Simulation:
                </v-btn>
                <v-btn size="small" :disabled="(!simulation) || (ship.components.length == 0)" color="simulation" @click="sim_set_all_enabled(true)">
                    All
                </v-btn>
                <v-btn size="small" :disabled="(!simulation) || (ship.components.length == 0)" color="simulation" @click="sim_set_all_enabled(false)">
                    None
                </v-btn>
            </div>
        </h2>
        <div class="d-flex justify-center">
            <v-card
                v-if="ship.components.length == 0"
                width="50%"
                min-width="min-content"
                variant="outlined"
                color="warning"
            >
                <v-card-title class="text-center mono">
                    /// NO COMPONENTS ///
                </v-card-title>
                <v-spacer />
                <v-card-text class="d-print-none text-center">
                    Add some on the right, or
                    <SampleDropdown
                        class="ml-1"
                        button_variant="tonal"
                        @update:ship="$emit('update:ship', $event)"
                    />
                </v-card-text>
            </v-card>
        </div>
        <div id="component-box" v-sortable="{options:{handle:'.handle'}}" @sort="sort($event)">
            <ShipComponent
                v-for="c in ship.components"
                :key="c._uuid"
                :component="c"
                :ship="ship"
                tabindex="1"
                @trash="ship.remove_component(c)"
                @clone="ship.add_component(JSON.parse(JSON.stringify(c)), 0)"
            />
        </div>
    </section>
</template>

<style scoped lang="less">
#component-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: masonry;
    gap: 10px;
}
</style>