<script setup lang=ts>
import { inject } from "vue";
import { useDisplay } from "vuetify";
import { useVModels } from "@vueuse/core";

import ShipNameDialog from "../dialogs/ShipNameDialog.vue";


const emit = defineEmits(["update:name", "update:prefix", "update:callsign"]);
const props = withDefaults(
    defineProps<{
        name: string,
        prefix: string,
        callsign: string,
        readonly?: boolean,
    }>(), {
        prefix: undefined,
        callsign: undefined,
        readonly: false,
    }
);

const simulation = inject("simulation");
const { name, prefix, callsign } = useVModels(props, emit);
const { mobile } = useDisplay();
</script>

<template>
    <section>
        <h2 class="d-flex align-center">
            <span
                v-if="prefix"
                class="d-print-none text-grey-darken-1"
                style="font-size:0.8em; position: absolute;"
            >
                <span id="ship-prefix" style="position: relative; right: 100%;" class="pr-2">
                    {{ prefix }}
                </span>
            </span>
            <span
                v-if="prefix"
                id="ship-prefix"
                class="d-none d-print-block"
                style="font-size:0.8em"
            >{{ prefix }}</span>

            <b id="ship-name" style="font-style:italic;font-weight:bolder;" :style="{'font-size': mobile ? '1em' : '1.5em'}">
                {{ name || "/// UNTITLED SHIP ///" }}
            </b>

            <v-btn
                id="ship-name-edit-button"
                variant="tonal"
                icon=""
                size="small"
                aria-label="Edit Ship Name"
                class="d-print-none"
            >
                <v-icon icon="mdi mdi-pencil" />
                <ShipNameDialog
                    v-model:name="name"
                    v-model:prefix="prefix"
                    v-model:callsign="callsign"
                />
            </v-btn>
        </h2>
        <p v-if="callsign" id="ship-callsign">
            [{{ callsign }}]
        </p>
        <p v-else class="text-grey d-print-none">
            - no callsign -
        </p>
        <p v-if="simulation" class="d-none d-print-block mono">
            <em>// Simulated State</em>
        </p>
    </section>
</template>