<script setup lang=ts>
import { Ship } from "../../Ship";
import { data } from "../../globals";
import { inject } from "vue";
import { simulate_resource_delta } from "../../simulation";
import { useTheme } from "vuetify/lib/framework.mjs";

const props = defineProps({
    ship: {
        type: Ship,
        required: true
    },
});

const simulation = inject("simulation");
const { name: theme_name, computedThemes: all_themes } = useTheme();

/**
 * i can't be bothered to remember what this does
 */
function format_burn_time(resource: string) {
    const quotient = ((props.ship.total_tanks()[resource] ?? 0) /
        (-simulate_resource_delta(props.ship, resource)));
    if (isNaN(quotient)) return "&nbsp;-&nbsp;";
    return +quotient.toFixed(3);
}
</script>

<template>
    <v-expansion-panels multiple variant="accordion" class="mono">
        <v-expansion-panel title="Simulation">
            <v-expansion-panel-text>
                <p>simulation: <b>{{ simulation }}</b></p>
                <p>ship.components.length: <b>{{ ship.components.length }}</b></p>
                <table>
                    <tr>
                        <th>i</th>
                        <th>id</th>
                        <th>v</th>
                        <th>a</th>
                        <th>sim</th>
                    </tr>
                    <tr v-for="(c, i) in ship.components" :key="c._uuid">
                        <td><span class="sticky">[{{ i }}]</span></td>
                        <td><span class="sticky">{{ c.id }}</span></td>
                        <td>{{ c.volume }}</td>
                        <td>{{ c.armour ? 'x' : ' ' }}</td>
                        <!--<td>{{ c.prototype() }}</td> -->
                        <td>
                            <span v-if="c._simulation_state == undefined" class="text-grey">(undefined)</span>
                            <span
                                v-if="Object.keys(c._simulation_state || {}).length == 0"
                                class="text-grey"
                            >{empty}</span>
                            <div v-for="(state, index) in c._simulation_state" :key="index">
                                <pre v-if="state"><span class="text-grey">{{ index }}&parsl;{{
                                    Object.keys(c.prototype()?.modules ?? {})[index]
                                }}:</span> {{ state }}</pre>
                            </div>
                        </td>
                    </tr>
                    <tr v-if="ship.components.length == 0">
                        <td colspan="9" class="text-grey">
                            (no components)
                        </td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Resources">
            <v-expansion-panel-text>
                <table>
                    <tr>
                        <th>resource</th>
                        <th><v-icon size="x-small" icon="fas fa-cube" /></th>
                        <th><v-icon size="x-small" icon="fas fa-fire" /></th>
                        <th><v-icon size="x-small" icon="fas fa-clock" /></th>
                    </tr>
                    <tr v-for="resource of Object.keys(data.resources ?? {})" :key="resource">
                        <td>&gt;&gt; {{ resource }}</td>
                        <td>{{ ship.total_tanks()[resource] ?? 0 }}</td>
                        <td>&Delta;{{ (simulate_resource_delta(ship, resource)).toFixed(2) }}&nbsp;</td>
                        <td>
                            {{ format_burn_time(resource) }}
                        </td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Buffs">
            <v-expansion-panel-text>
                <h3>### CALCULATED</h3>
                <table>
                    <tr
                        v-for="buff in ['ecm', 'raw_ecm', 'sensors', 'acceleration', 'jump_energy', 'ENERGY', 'HEAT']"
                        :key="buff"
                    >
                        <td>{{ buff }}</td>
                        <td>+{{ ship.calculate_buff(buff).add }}</td>
                        <td>*{{ ship.calculate_buff(buff).multiply }}</td>
                    </tr>
                </table>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <v-expansion-panel title="Theme">
            <v-expansion-panel-text>
                <p>theme: {{ theme_name }}</p>
                <div v-for="[name, theme] of Object.entries(all_themes)" :key="name">
                    <h3>{{ name }}</h3>
                    <p>dark: {{ theme.dark }}</p>
                    <table>
                        <tr v-for="[color, code] of Object.entries(theme.colors)" :key="color">
                            <td>{{ color }}</td>
                            <td :style="`background-color:${code}`">
                                {{ code }}
                            </td>
                            <td :style="`background-color:rgb(var(--v-theme-${color}))`">
                                --v-theme-{{
                                    color
                                }}
                            </td>
                        </tr>
                    </table>
                </div>
            </v-expansion-panel-text>
        </v-expansion-panel>
        <!-- other debug panels can go here -->
    </v-expansion-panels>
</template>

<style scoped lang="less">
table {
    border-left: 2px solid;
    padding-left: 5px;

    tr {

        td,
        th {
            vertical-align: top;
            padding-right: 5px;
        }

        *:last-child {
            padding-right: 0;
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
}
</style>