<script setup lang=ts>
import { computed, ref } from "vue";

// model
import { Component } from "../../Component";
import { Ship } from "../../Ship";

// components
import ComponentAddWidget from "../ComponentAddWidget.vue";
import NumberEditor from "../NumberEditor.vue";
import ShipModule from "./ShipModule.vue";

const props = defineProps({
    "component": {
        type: Component,
        required: true
    },
    "ship": {
        type: Ship,
        required: true,
    }
});

defineEmits(["trash", "clone"]);

// used a lot
const prototype = computed(() => {
    return props.component.prototype();
});

const swap_dialog_state = ref(false);

</script>

<template>
    <div class="ship-component" :data-component="component.id" :data-uuid="component._uuid">
        <div class="handle d-print-none">
            <!--need a smaller handle-->
            <!--<v-icon icon="fas fa-grip-vertical"></v-icon> -->
        </div>
        <v-sheet class="content">
            <v-card-title
                class="d-flex align-center flex-wrap"
                style="gap:0"
            >
                <div class="d-flex mr-4">
                    <span>{{ prototype?.name ?? component.id }}</span>
                    <em v-if="!prototype?.name">[{{ prototype?.type || '??' }}]</em>
                    <v-btn
                        v-if="component.armour"
                        class="d-none d-print-block"
                        icon="fas fa-shield"
                        size="x-small"
                        variant="plain"
                    />
                </div>
                <div class="ml-auto">
                    <v-btn
                        class="d-print-none"
                        size="small"
                        color="secondary"
                        :append-icon="component.armour ? 'fas fa-shield' : 'fas fa-xmark'"
                        :variant="component.armour ? 'tonal' : 'outlined'"
                        @click="component.toggle_armour()"
                    >
                        Armour
                    </v-btn>
                    <v-btn icon="" variant="plain">
                        <v-icon icon="mdi mdi-dots-vertical" />
                        <v-menu activator="parent">
                            <v-list>
                                <v-list-item @click="$emit('clone')">
                                    <template #prepend>
                                        <v-icon
                                            icon="mdi mdi-content-copy"
                                        />
                                    </template>
                                    Copy
                                </v-list-item>
                                <v-list-item @click="swap_dialog_state = true">
                                    <template #prepend>
                                        <v-icon icon="mdi mdi-swap-horizontal-variant" />
                                    </template>
                                    Swap
                                </v-list-item>
                                <v-list-item @click="$emit('trash')">
                                    <template #prepend>
                                        <v-icon icon="fas fa-trash" />
                                    </template>
                                    Delete
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-btn>
                </div>
            </v-card-title>
            <v-card-text>
                <div class="d-print-none">
                    Volume:
                    <!-- TODO: whitespace -->
                    <span v-if="prototype?.fixed_volume == undefined">
                        <NumberEditor
                            :n="component.volume"
                            @update:n="n => component.set_volume(n)"
                        />
                    </span>
                    <span v-else>
                        {{ component.volume }}
                        <abbr
                            title="this component just takes up x volume; you can't change it. 
                            you can have multiple copies for redundancy, though."
                        >[fixed]</abbr>
                    </span>
                </div>
                <div>
                    <div class="mono">
                        <span class="d-none d-print-inline-block">{{ component.volume }}V &bull;</span>
                        {{ component.mass() }}M &bull;
                        &curren;{{ Math.ceil(component.cost()) }} &bull;
                        {{ (prototype?.durability ?? 1) * component.volume }} DUR
                    </div>
                </div>
                <v-card
                    v-if="prototype == null"
                    color="warning"
                    variant="outlined"
                    class="mt-2"
                >
                    <v-card-text>
                        <v-icon icon="fas fa-warning" />
                        unknown component: <span class="mono">{{ component.id }}</span> &mdash; couldn't find prototype
                    </v-card-text>
                </v-card>
                <div
                    v-else-if="(prototype.modules == undefined) || (prototype.modules?.length == 0)"
                    class="mt-2"
                >
                    <v-card
                        color="warning"
                        variant="outlined"
                    >
                        <v-card-text>
                            <div class="d-flex align-center">
                                <v-icon icon="fas fa-warning" />
                                <p>
                                    no modules! <br> this means i probably haven't bothered to implement this component
                                </p>
                            </div>
                            <pre>{{ component.id }}: {{ prototype }}</pre>
                        </v-card-text>
                    </v-card>
                </div>
                <div v-else>
                    <div
                        v-for="(module, name, index) in prototype.modules"
                        :key="index"
                    >
                        <ShipModule
                            :ship="ship"
                            :component="component"
                            :module="module"
                            :name="(name as string)"
                            :index="index"
                            @update:simulation_state="(index, new_state) => component.update_simulation_state(index, new_state)"
                        />
                    </div>
                </div>
            </v-card-text>
        </v-sheet>
        <v-overlay v-model="swap_dialog_state" class="align-center justify-center">
            <ComponentAddWidget
                max-height="90svh"
                style="overflow-y: scroll"
                popout
                :title="`Swap: ${prototype?.name ?? component.id}`"
                @select="component.set_id($event)"
            />
            <hr>
            <v-btn block color="secondary" @click="swap_dialog_state = false">
                Close
            </v-btn>
        </v-overlay>
    </div>
</template>

<style scoped lang="less">
.ship-component {
    align-self: start;
    border-top-right-radius: 2em;
    animation: 3s 1 forwards new-component-flash;
    display: flex;

    .handle {
        background-color: rgb(var(--v-theme-primary-alt));
        cursor: grab;
        color: white;
        display: flex;
        min-width: 10px;
        flex-direction: column;
        justify-content: center;

        i {
            width: min-content;
        }
    }

    .content {
        padding: 5px;
        flex-grow: 1;
        border-top-right-radius: inherit;

        .toprow {
            display: flex;
            gap: 10px;

            h4 {
                flex-grow: 1;
                margin: 0
            }

        }

        button.armour-button {
            z-index: 3;
        }
    }
}

@keyframes new-component-flash {
    from {
        background-color: #990;
    }

    /* to whatever it's set to in the element's style */
}
</style>