<script setup lang=ts>
import { computed, inject, toRef } from "vue";
import type { Ref } from "vue";
import { useDisplay } from "vuetify";
import { useVModel } from "@vueuse/core";
//model
import { CREW_LABELS } from "../../globals";
import type { Ship } from "../../Ship";
import { data } from "../../globals";
//components
import BuffChoiceModule from "./modules/BuffChoiceModule.vue";
import BuffModule from "./modules/BuffModule.vue";
import { combat_station_level } from "../../simulation";

const emit = defineEmits(["update:ship"]);
const props = defineProps<{
    ship: Ship,
    station_id: string,
}>();

const { mobile } = useDisplay();
const DEBUG = inject("DEBUG");

const ship:Ref<Ship> = useVModel(props, "ship", emit);
const station = toRef(ship.value.combat_stations, props.station_id);
const choice = toRef(station.value, "data");
const crew = toRef(station.value, "crew");
const prototype = computed(() => data.combat_stations?.[props.station_id]);

const total_assigned = computed(() => {
    let sum = 0;
    for (let crewtype of CREW_LABELS.keys()) {
        sum += crew.value[crewtype];
    }
    return sum;
});

/**
 * figure out what level we are
 */
const level = computed(() => {
    return combat_station_level(
        props.ship,
        data.combat_stations?.[props.station_id],
        crew.value
    );
});

const level_prototype = computed(() => prototype?.value?.assigned_crew?.[level.value-1]);
</script>

<template>
    <v-card>
        <v-card-title>
            <span>{{ prototype?.name ?? station_id }}</span>
        </v-card-title>
        <v-card-text v-if="prototype != undefined">
            <!-- #TODO don't repeat code like this -->
            <div v-if="DEBUG" class="d-flex">
                <v-icon icon="fas fa-bug" size="x-small" />
                <div>
                    <p><b>station:</b> {{ crew }}</p>
                    <p><b>prototype:</b> {{ prototype }}</p>
                    <p><b>level_prototype:</b> {{ level_prototype ?? '[undef]' }}</p>
                </div>
            </div>
            <div style="display: grid; gap:10px;" :style="{'grid-template-columns':`repeat(${mobile?3:6},1fr)`}">
                <v-text-field
                    v-for="[crewtype, label] in CREW_LABELS"
                    :key="crewtype"
                    hide-details="auto"
                    density="compact"
                    type="number"
                    :min="0"
                    :model-value="crew[crewtype] || ''"
                    :label="label"
                    @update:model-value="crew[crewtype] = parseInt($event || '0')"
                />
            </div>
            <p>
                Total:
                <b class="mono">{{ total_assigned }}</b>
                crew // Level:
                <b class="mono">{{ level }}</b>
            </p>
            <div class="d-flex">
                <v-btn v-if="level <= 0" class="mx-auto" variant="text" disabled>
                    &horbar; Insufficient crew &horbar;
                </v-btn>
                <BuffModule
                    v-if="(level > 0) && level_prototype?.buff"
                    :ship="ship"
                    :scaling="{ volume: 1, crew: total_assigned }"
                    :module="level_prototype.buff"
                    :active="false"
                />
                <BuffChoiceModule
                    v-if="(level > 0) && level_prototype?.buff_choice"
                    :ship="ship"
                    :scaling="{ volume: 1, crew: total_assigned }"
                    :module="level_prototype.buff_choice"
                    :choice_index="choice"
                    @update:choice_index="choice = $event"
                />
            </div>
            <!-- <pre>{{ data.combat_stations[station_id] }}</pre> -->
        </v-card-text>
        <v-card-text v-else>
            <p>waiting for network...</p>
            <p class="text-grey">
                if you can finish reading this before it disappears, open a bug
            </p>
        </v-card-text>
    </v-card>
</template>