<script setup lang=ts>
import { reactive, ref, watch } from "vue";
import { parse } from "yaml";
import { useDisplay } from "vuetify";
// components
import ImportDialog from "@/components/dialogs/ImportDialog.vue";
import SampleDropdown from "@/components/SampleDropdown.vue";
import ShipCard from "@/components/fleet/ShipCard.vue";
//model
import { Ship } from "@/Ship";
import { useShips } from "@/useShips";

const ships = useShips();

const { mobile, name } = useDisplay();

function add_ship() {
    ships.splice(0, 0, new Ship());
}
</script>

<template>
    <main class="main-grid" :data-breakpoint="name" :data-mobile="mobile">
        <section>
            <h2 class="d-flex flex-wrap flex-column flex-sm-row">
                Ships
                <div class="d-flex flex-column flex-sm-row ml-sm-auto">
                    <SampleDropdown
                        button_variant="outlined"
                        @update:ship="ships.splice(0, 0, $event)"
                    />
                    <v-btn variant="outlined" prepend-icon="mdi mdi-import">
                        Import
                        <ImportDialog @import="ships.splice(0, 0, $event)" />
                    </v-btn>
                    <v-btn id="add-ship" color="secondary" @click="add_ship">
                        +new
                    </v-btn>
                </div>
            </h2>
            <div v-sortable="{ options: { handle: '.handle' } }" class="d-flex flex-column">
                <ShipCard
                    v-for="(ship, i) in ships"
                    :key="i"
                    :ship="ship"
                    :index="i"
                    edit_button
                    @delete="ships.splice(i, 1)"
                />
            </div>
            <div v-if="ships.length == 0" class="d-flex">
                <v-card class="mx-auto">
                    <v-card-text class="text-center">
                        <b>no ships - try loading a sample!</b>
                    </v-card-text>
                </v-card>
            </div>
        </section>
        <section>
            <h2 class="d-flex">
                Fleets
                <v-btn color="secondary" class="ml-auto">
                    +new
                </v-btn>
            </h2>

            <div class="d-flex flex-column">
                <v-card>
                    <v-card-title>**PLACEHOLDER**</v-card-title>
                </v-card>
            </div>
        </section>
    </main>
</template>