<template>
    <main class="main-grid">
        <h1>404</h1>
        <section class="mono text-center">
            <v-btn to="/" color="primary">
                Home
            </v-btn>
        </section>
    </main>
</template>

<style scoped>
    h1, h2 {
        grid-column: 2;
        text-align: center;
        color: rgb(var(--v-theme-disabled));
        user-select: none;
        margin: 0;
    }
    h1 {
        font-size: 40vmin;
    }
</style>