<script setup lang=ts>
import { inject } from "vue";
import { onMounted } from "vue";
import { parse } from "yaml";
import { provide } from "vue";
import { reactive } from "vue";
import { ref } from "vue";
import { useDisplay } from "vuetify";
import { watch } from "vue";
//model
import { ship_yaml_export, ship_yaml_import } from "@/serialization";
import { CREW_LABELS } from "../globals";
import type { Ship } from "../Ship";
// components
import ComponentAddWidget from "@/components/ComponentAddWidget.vue";
import ImportExportButtons from "@/components/ship/ImportExportButtons.vue";
import NotFound from "./NotFound.vue";
import NumberEditor from "@/components/NumberEditor.vue";
import ShipCombatStations from "@/components/ship/ShipCombatStations.vue";
import ShipComponentList from "@/components/ship/ShipComponentList.vue";
import ShipDebug from "@/components/ship/ShipDebug.vue";
import ShipNameEditor from "@/components/ship/ShipNameEditor.vue";
import ShipOverview from "@/components/ship/ShipOverview.vue";
import { computed } from "vue";
import { useShip } from "@/useShips";


const props = defineProps<{
    index: number | string,
}>();

let index: number;
if(typeof props.index == "string")
    index = parseInt(props.index);
else
    index = props.index + 0;

const ship = useShip(index);

const DEBUG = inject("DEBUG");
const simulation = ref(false);
var cch = reactive({
    training_cost: 0,
    monthly_cost: 0,
    months: 1,
});
provide("simulation", simulation);

function update_title() {
    if(ship.value){
        document.title = [
            "JSD //",
            ship.value.prefix,
            ship.value.name || "<untitled>",
        ].join(" ");
    }
}


watch(ship, update_title);
onMounted(update_title);

const { mobile, name } = useDisplay();
</script>

<template>
    <main v-if="ship" class="main-grid main-grid--offset" :data-breakpoint="name" :data-mobile="mobile">
        <!-- <section
            <ShipCard :ship="ship" />
        </section> -->
        <ShipNameEditor v-model:name="ship.name" v-model:prefix="ship.prefix" v-model:callsign="ship.callsign" />
        <ImportExportButtons v-model:ship="ship" />
        <ShipOverview v-model:simulation="simulation" :ship="ship" />
        <section class="d-print-none" style="font-size: 1.25em">
            <p>
                <b>Armour Mass: </b>
                <NumberEditor
                    v-model:n="ship.armour"
                    :max="ship.total_volume() / 2"
                    max_tooltip="Maximum armour mass is half of ship's volume"
                />
            </p>
            <p>
                <b>Faction Morale: <span class="mono">{{ ship._faction_morale }}</span></b>
                <v-slider
                    v-model="ship._faction_morale"
                    color="secondary"
                    :min="-3"
                    :max="7"
                    step="1"
                    show-ticks="always"
                    thumb-label
                />
            </p>
        </section>
        <section id="notes ship-notes">
            <v-expansion-panels multiple variant="accordion">
                <v-expansion-panel title="Notes">
                    <v-expansion-panel-text>
                        <v-text-field
                            v-model="ship.author"
                            clearable
                            label="Author"
                            hint="Your real name, discord handle, IP address, whatever"
                        />
                        <v-textarea
                            v-model="ship.notes"
                            label="Notes"
                            hint="Write whatever you want"
                            variant="outlined"
                            hide-details
                        />
                        <v-checkbox
                            label="Use markdown (while printing) [#TODO actually implement this]"
                            hide-details
                        />
                    </v-expansion-panel-text>
                </v-expansion-panel>
                <v-expansion-panel title="Crew">
                    <v-expansion-panel-text>
                        <!-- todo need better reactivity -->
                        <div style="display: grid; gap: 10px" :style="{'grid-template-columns': `repeat(${mobile?3:6},1fr)`}">
                            <v-card v-for="[i, label] in CREW_LABELS" :key="i" variant="outlined" style="flex-grow:1">
                                <v-card-title>
                                    {{ label }}
                                </v-card-title>
                                <v-card-text>
                                    <p><b class="mono">{{ ship.crew_type_amount(i) }}</b></p>
                                    <p>Morale: <b class="mono">+{{ ship.crew_type_morale(i) }}</b></p>
                                </v-card-text>
                            </v-card>
                        </div>
                        <p>Effecive Morale: <b class="mono">{{ ship.worst_morale() }}</b></p>
                    </v-expansion-panel-text>
                </v-expansion-panel>
            </v-expansion-panels>
        </section>
        <section v-if="DEBUG">
            <p>mobile: <span class="mono">{{ mobile }}</span></p>
            <p>breakpoint: <span class="mono">{{ name }}</span></p>
            <ShipDebug :ship="ship" />
        </section>
        <ShipComponentList v-model:ship="ship" />
        <ComponentAddWidget @select="$event => ship?.add_component({id:$event, volume:1, armour: false, data: null})" />
        <ShipCombatStations :ship="ship" />
        <section>
            <h3>Crew Cost Helper</h3>
            <p>Ship crew: <b class="mono">{{ ship.total_crew_worstcase() }}</b></p>
            <div class="d-flex">
                <v-text-field
                    v-model="cch.training_cost"
                    type="number"
                    density="compact"
                    hide-details="auto"
                    label="training cost/crew"
                />
                <v-text-field
                    v-model="cch.monthly_cost"
                    type="number"
                    density="compact"
                    hide-details="auto"
                    label="monthly cost/crew"
                />
                <v-text-field
                    v-model="cch.months"
                    type="number"
                    density="compact"
                    hide-details="auto"
                    label="months"
                />
            </div>
            <p>Total: <b class="mono">{{ ship.total_crew_worstcase() * cch.training_cost + ship.total_crew_worstcase() * cch.monthly_cost * cch.months }}</b></p>
        </section>
    </main>
    <NotFound v-else />
</template>