<!-- eslint-disable snakecasejs/snakecasejs -->
<script setup lang=ts>
import { inject, onMounted, reactive, ref } from "vue";
import { useLocalStorage, useResizeObserver } from "@vueuse/core";
import Backoff from "backo2";
import { Client } from "colyseus.js";
import { parse } from "yaml";
import { triggerRef } from "vue";
import { useNotifier } from "vuetify-notifier";
//model
import { ship_yaml_export, ship_yaml_import } from "@/serialization";
import type { Ship } from "@/Ship";
//vtt server
import { MySchema } from "@server/schema";
//vtt client
import { draw, pixi, viewport } from "@/components/vtt/renderer";
import { grid, room, state } from "@/components/vtt/vtt_globals";
import { MyGrid } from "@/components/vtt/MyGrid";
//components
import ConnectionTab from "@/components/vtt/ConnectionTab.vue";
import ReadySwitch from "@/components/vtt/ReadySwitch.vue";
import { useShips } from "@/useShips";

const props = defineProps<{
    endpoint: string | undefined,
}>();

const DEBUG = inject("DEBUG");
const $notifier = useNotifier();
const tab = ref<"connection" | "chat" | "ships" | "debug">("connection");
const endpoint = useLocalStorage("vtt_endpoint", "wss://void-warren.sigstackfault.com:9119");
const auto_connect = useLocalStorage("vtt_auto_connect", false);
let client: Client | null = null;
const room_connected = ref(false);
const chat_log = ref<any[]>([]);
const chat_text = ref<string>("");
const canvas_wrapper = ref<HTMLDivElement>();
const connect_button_loading = ref<boolean>(false);
const backoff = new Backoff();
const backoff_timeout = ref<any>(); // #TODO what's the type for dom timeout?
const ready_state = ref<boolean>(false);
const ships = useShips();

defineExpose({ grid });


if(props.endpoint){
    console.log("vtt endpoint:", props.endpoint);
    // eslint-disable-next-line vue/no-setup-props-destructure
    endpoint.value = props.endpoint;
}

function chat_send() {
    if (!chat_text.value) {
        console.warn("chat_send() called but no chat text");
        return;
    }
    room.value?.send("chat", chat_text.value);
    chat_text.value = "";
}

function connect() {
    client = new Client(endpoint.value);
    let room_promise = client.joinOrCreate<MySchema>("main", {}, MySchema);
    connect_button_loading.value = true;
    room_promise.then((r) => {
        room.value = r;
        triggerRef(room);
        $notifier.toastSuccess(`connected to ${endpoint.value}`);
        room_connected.value = true;
        r.onMessage("chat", (message) => {
            console.log(`chat <${message.author}> ${message.content}`);
            chat_log.value.push(message);
            if(message.author != r.sessionId){
                if(tab.value != "chat")
                    $notifier.toast(`<${message.author}> ${message.content}`, undefined, {toastProps: {location: "bottom center"}});
            }
        });
        r.onMessage("step", () => {
            console.log("step!");
            ready_state.value = false;
        });
        r.onStateChange(on_state_change);
        r.onLeave(() => {
            room_connected.value = false;
            $notifier.toastInfo("disconnected");
            tab.value = "connection";
            // if(auto_connect.value)
            //     connect();
        });
        on_state_change(r.state);
        viewport.fit();
        if(grid.value)
            viewport.moveCenter(grid.value.world_size/2, grid.value.world_size/2);
        backoff.reset();
        connect_button_loading.value = false;
    }).catch(() => {
        $notifier.toastInfo("connection failed");
        if (auto_connect.value) {
            if (backoff.attempts >= 10) {
                console.log("giving up after", backoff.attempts, "attempts");
                connect_button_loading.value = false;
                backoff.reset();
                return;
            }
            const duration = backoff.duration();
            console.log(backoff.attempts, "retrying after", duration);
            backoff_timeout.value = setTimeout(connect, duration);
        } else {
            connect_button_loading.value = false;
        }
    });
}

function on_state_change(s: MySchema){
    console.log("onStateChange", state.value);
    // remove getters and setters and colyseus internal stuff
    state.value = s.toJSON();
    triggerRef(state); // idk why this helps
    grid.value = new MyGrid(s.grid_radius);
    draw();
}

function disconnect() {
    room.value?.leave();
}

function connect_cancel() {
    console.log("connect_cancel");
    clearTimeout(backoff_timeout.value);
    connect_button_loading.value = false;
}


function add_ship(ship: Ship, q: number, r: number) {
    room.value?.send("add_ship", {
        yaml: ship_yaml_export(ship),
        q: q,
        r: r,
        dq: 0,
        dr: 0,
    });
}

useResizeObserver(canvas_wrapper, () => {
    viewport.resize(pixi.view.width, pixi.view.height);
    // #TODO trigger clamp check?
});

onMounted(() => {
    if (canvas_wrapper.value == undefined) {
        console.error("we're in onMounted but canvas_wrapper is still undefined!");
        return;
    }
    const view = pixi.view as HTMLCanvasElement;
    canvas_wrapper.value.appendChild(view);
    pixi.resizeTo = canvas_wrapper.value;

    document.title = "FSD // VTT";
    const [tab, rhs] = window.location.hash.split("=");
    if((tab=="#vtt") && (rhs != undefined)){
        // #TODO replace with vue router stuff
        // endpoint.value = rhs;
        // connect();
    } else if (auto_connect.value)
        connect();
});

viewport.addListener("mousemove", (event) => {
    if (viewport == undefined) {
        console.warn("mousemove handler called but viewport is undefined?!");
        return;
    }
    if (grid.value != undefined) {
        let { x, y } = viewport.toWorld(event.globalX, event.globalY);
        x -= grid.value.world_size / 2;
        y -= grid.value.world_size / 2;
        grid.value.hex_hover_handler(x, y);
    }
});

</script>

<template>
    <main>
        <div ref="canvas_wrapper" class="canvas-wrapper" />
        <v-sheet tag="aside">
            <v-tabs v-model="tab" bg-color="grey-darken-3">
                <v-tab value="connection">
                    Server
                </v-tab>
                <v-tab value="chat" :disabled="!room_connected">
                    Chat
                </v-tab>
                <v-tab value="ships">
                    Ships
                </v-tab>
                <v-tab v-if="DEBUG" value="debug">
                    <v-icon icon="fas fa-bug" />
                </v-tab>
            </v-tabs>
            <ConnectionTab
                v-if="tab == 'connection'"
                v-model:endpoint="endpoint"
                v-model:auto_connect="auto_connect"
                :connected="room_connected"
                :loading="connect_button_loading"
                :room="room"
                @connect="connect"
                @disconnect="disconnect"
                @cancel="connect_cancel"
            />
            <section v-if="tab == 'chat'" id="vtt-chat">
                <div style="flex-grow:1" class="pa-3 chat-log">
                    <div v-for=" message in chat_log " :key="message.content">
                        &lt;{{ message.author }}&gt; {{ message.content }}
                    </div>
                </div>
                <v-text-field
                    v-model="chat_text"
                    label="Type here to chat..."
                    style="flex-grow: 0"
                    hide-details="auto"
                    @keyup.enter=" chat_send()"
                >
                    <template v-if="chat_text" #append-inner>
                        <v-icon icon="mdi mdi-send" @click="chat_send" />
                    </template>
                </v-text-field>
            </section>
            <section v-if="tab == 'ships'">
                <ul>
                    <li v-for=" ship in ships " :key="ship.name">
                        <button style="text-decoration:underline;" @click=" add_ship(ship, 0, 0)">
                            {{ ship.name }}
                        </button>
                    </li>
                </ul>
            </section>
            <section v-if="tab == 'debug'">
                <b>players</b>
                <pre>{{ state?.players }}</pre>
                <b>ships</b>
                <table class="mono" style="border-spacing:10px 0">
                    <tr v-for="ship in state.ships" :key="ship.uuid">
                        <td>{{ ship.uuid.slice(0,8) }}...</td>
                        <td>({{ ship.q }},{{ ship.r }})</td>
                        <td>vel({{ ship.velocity.q }},{{ ship.velocity.r }})</td>
                        <td>burn({{ ship.burn.q }},{{ ship.burn.r }})</td>
                    </tr>
                </table>
            </section>
            <!-- brackets settings -->
            <ReadySwitch
                v-model:ready="ready_state"
                :connected="room_connected"
                :room="room"
                :state="state"
            />
        </v-sheet>
    </main>
</template>

<style scoped lang="scss">
main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    place-items: stretch;
    flex-grow: 1;
}

li {
    list-style-position: inside;
}

aside {
    display: grid;
    grid-template-rows: max-content auto max-content;
}

section#vtt-chat {
    // display: grid;
    display: flex;
    flex-direction: column;
    // grid-template-rows: auto max-content;
    // overflow-y: scroll;
    overflow: auto;
    // .chat-log {
    //     // position: relative;
    // }
}

:global(.v-application) {
    height: 100vh !important;
}
</style>

<style lang="scss">
canvas {
    position: absolute;
}
</style>