<script setup lang=ts>
import { computed } from "vue";
import { type_cache } from "../globals";

defineEmits<{
    // eslint-disable-next-line no-unused-vars
    (e: "select", id: string): void;
}>();

const props = defineProps({
    title: {
        type: String,
        required: false,
        default: "Add Components"
    },
    popout: {
        type: Boolean,
        required: false,
        default: false,
    },
});

const max_width = computed(() => {
    return props.popout ? "500px" : undefined;
});
</script>

<template>
    <v-card tag="aside" class="d-print-none component-widget" :max-width="max_width">
        <v-card-title>
            {{ title }}
        </v-card-title>
        <v-expansion-panels v-if="type_cache" multiple variant="accordion">
            <v-expansion-panel v-for="(components, type) of type_cache" :key="type">
                <v-expansion-panel-title v-if="type=='undefined'">
                    <v-icon icon="fas fa-warning" />
                    <span class="mx-1">NO TYPE!</span>
                    <v-icon icon="fas fa-warning" />
                </v-expansion-panel-title>
                <v-expansion-panel-title v-else style="text-transform: uppercase;">
                    {{ type }}
                </v-expansion-panel-title>
                <v-expansion-panel-text>
                    <div class="component-group">
                        <v-list-item
                            v-for="(proto, id) in components"
                            :key="id"
                            :test-component="id"
                            @click="$emit('select', id)"
                        >
                            {{ proto?.name ?? id }}
                        </v-list-item>
                    </div>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
        <div v-else class="uk-placeholder">
            Loading!
        </div>
    </v-card>
</template>

<style lang="less" scoped>
.component-group {
    /* #TODO some widths this doesn't work when you collapse/expand*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
</style>