<script setup lang=ts>
import { computed, ref } from "vue";

const emit = defineEmits(["update:n"]);
const props = defineProps({
    n: {
        type: Number,
        required: true,
    },
    min: {
        type: Number,
        required: false,
        default: 0,
    },
    max: {
        type: Number,
        required: false,
        default: Infinity,
    },
    max_tooltip: {
        type: String,
        required: false,
        default: null,
    }
});

const min = computed(() => Math.floor(props.min));
const max = computed(() => Math.floor(props.max));

let write_in_state = ref(false);
let input = ref<HTMLInputElement>();

const can_decrement = computed(() => {
    return (props.n - 1) >= props.min;
});
const can_increment = computed(() => {
    return (props.n + 1) <= props.max;
});

function clamp(value: number) {
    if (value < min.value)
        return min.value;
    if (value > max.value)
        return max.value;
    return value;
}

function write_in_start() {
    write_in_state.value = true;
    setTimeout(() => {
        // wait for armour_input to start existing
        input.value?.focus();
    }, 10);
}
function write_in_end() {
    write_in_state.value = false;
    let new_value = parseInt(input.value?.value ?? "0");
    if (!isNaN(new_value)) {
        emit("update:n", clamp(new_value));
    }
}
</script>

<template>
    <span>
        <slot />
        <span v-if="write_in_state == false" class="pl-1">
            <span class="print-hide">
                <v-btn
                    :disabled="!can_increment"
                    icon="fas fa-plus-circle"
                    tabindex="0"
                    size="x-small"
                    variant="plain"
                    @click.exact="$emit('update:n', clamp(n + 1))"
                    @click.shift="$emit('update:n', clamp(n + 10))"
                />
                <v-btn
                    :disabled="!can_decrement"
                    icon="fas fa-minus-circle"
                    tabindex="0"
                    size="x-small"
                    variant="plain"
                    @click.exact="$emit('update:n', clamp(n - 1))"
                    @click.shift="$emit('update:n', clamp(n - 10))"
                />
                <v-btn
                    icon="fas fa-pencil"
                    tabindex="0"
                    size="x-small"
                    variant="plain"
                    :disabled="!can_increment && !can_decrement"
                    @click="write_in_start()"
                />
            </span>
            <b class="mono ml-2">{{ n }}</b>
        </span>
        <span v-else>
            <input
                ref="input"
                :value="n"
                class="uk-input uk-inline uk-form-width-small"
                @keyup.enter="write_in_end()"
                @keyup.esc="write_in_state = false"
            >
            <v-btn icon="fas fa-check" size="x-small" variant="plain" @click="write_in_end()" />
            <v-btn icon="fas fa-close" size="x-small" variant="plain" @click="write_in_state = false" />
        </span>
        <v-chip
            v-if="!can_increment"
            variant="elevated"
            color="warning"
            class="ml-3"
            size="x-small"
            :append-icon="max_tooltip ? 'fas fa-circle-question' : undefined"
        >
            MAX
            <v-tooltip v-if="max_tooltip" activator="parent" :text="max_tooltip" />
        </v-chip>
        <v-chip
            v-if="!can_decrement && min > 0"
            variant="elevated"
            color="warning"
            class="ml-3"
            size="x-small"
        >
            MIN
        </v-chip>
    </span>
</template>

<style scoped>
span {
    user-select: none;
}

input {
    background: inherit;
    border: none;
    border-bottom: 1px solid #aaa;
    margin: 0 10px;
    padding: 0;
    height: 1em;
}

button.v-btn {
    width: min-content;
    margin: 0 1px;
}
</style>