<script setup lang=ts>
defineProps({
    name: {
        type: [String],
        required: true
    },
    prefix: {
        type: String,
        required: false,
        default: ""
    },
    abbr_title: {
        type: String,
        required: false,
        default: null,
    },
    abbr_style: {
        type: String,
        required: false,
        default: null,
    },
    color: {
        type: String,
        required: false,
        default: "primary"
    },
});
</script>

<template>
    <v-sheet class="chip" :color="color">
        <span>
            <slot name="label">
                <abbr :title="abbr_title" :style="abbr_style">
                    {{ name }}
                </abbr>
            </slot>
            <b class="mono">{{ prefix }}<slot /></b>
        </span>
    </v-sheet>
</template>

<style lang="less">
.chip {
    display: flex !important;
    align-items: center;
    padding: 5px 10px;
    border-bottom-right-radius: 1em !important;
    width: max-content;

    b {
        font-weight: bold;

        &::before {
            content: " ";
        }
    }

    &.bg-disabled {
        cursor: not-allowed;
    }
}

.big .chip {
    font-size: 1.5em;
}
</style>