<script setup lang=ts>
import { samples } from "../globals";
import { ship_yaml_import } from "../serialization";

const emit = defineEmits(["update:ship"]);
withDefaults(defineProps<{
    button_variant: "outlined" | "flat" | "text" | "elevated" | "tonal" | "plain",
}>(), {
    button_variant: "elevated",
});

// 'class' is reserved and vscode complains if i use it in the template

function select(parsed: any){
    emit("update:ship", ship_yaml_import(parsed));
}
</script>

<template>
    <v-menu>
        <template #activator="{ props: trigger }">
            <v-btn :variant="button_variant" class="sample-dropdown-button" v-bind="trigger">
                Load Sample...
            </v-btn>
        </template>

        <v-list
            :items="samples"
            density="compact"
            theme="light"
            @click:select="({id}) => select(id)"
        />
    </v-menu>
</template>

<style scoped>
select {
    width: max-content;
}
</style>