<script setup lang=ts>
import { ref } from "vue";
import { useDisplay } from "vuetify/lib/framework.mjs";

const { mobile } = useDisplay();

const settings_modal = ref(false);

const WEB_GIT_DESCRIBE = __WEB_GIT_DESCRIBE__; // eslint-disable-line no-undef
const META_GIT_DESCRIBE = __META_GIT_DESCRIBE__; // eslint-disable-line no-undef

function wipe_data(){
    settings_modal.value = false;
    localStorage.clear();
    window.location.reload();
}

function export_all(){
    var result = "";
    JSON.parse(localStorage.getItem("ships") ?? "[]").forEach((ship:string) => {
        result += ship;
        result += "\n---\n\n";
    });
    var element = document.createElement("a");
    element.setAttribute("href", "data:text/plain;charset=utf-8," + encodeURIComponent(result));
    element.setAttribute("download", "export.yaml");
    element.style.display = "none";
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}
</script>

<template>
    <v-sheet tag="footer" class="d-print-none" color="primary">
        <v-card-text class="d-flex flex-column flex-md-row align-center flex-wrap">
            <div class="d-flex align-center">
                <v-btn
                    prepend-icon="mdi mdi-alert-octagon"
                    size="large"
                    href="https://gitlab.com/SIGSTACKFAULT/fleetwright-web-designer/-/issues/new"
                    target="_new"
                >
                    Report Bug
                </v-btn>
                <v-overlay
                    v-model:model-value="settings_modal"
                    class="align-center justify-center"
                >
                    <template #activator="{props: trigger}">
                        <v-btn
                            v-bind="trigger"
                            icon="fas fa-cog"
                        />
                    </template>
                    <v-card color="simulation">
                        <v-card-text class="d-flex flex-column pa-7">
                            <v-btn variant="flat" color="secondary" @click="export_all">
                                Export All
                            </v-btn>
                            <!-- <v-btn variant="flat" color="secondary">
                                Import All
                            </v-btn> -->
                            <v-menu location="end">
                                <template #activator="{ props: trigger }">
                                    <v-btn
                                        variant="flat"
                                        color="warning"
                                        class="mt-6"
                                        prepend-icon="fas fa-warning"
                                        v-bind="trigger"
                                    >
                                        Wipe Data
                                    </v-btn>
                                </template>
                                <v-btn color="simulation" @click="wipe_data">
                                    confirm
                                </v-btn>
                            </v-menu>
                            <v-btn variant="text" class="mt-6" @click="settings_modal=false">
                                close
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </v-overlay>
            </div>
            <v-spacer v-if="!mobile" />
            <div v-if="!mobile" class="d-flex mr-4">
                <v-btn
                    icon="fa-brands fa-vuejs"
                    href="https://vuejs.org"
                    target="_new"
                />
                <v-btn
                    target="_new"
                    href="https://next.vuetifyjs.com"
                    icon="mdi mdi-vuetify"
                />
            </div>
            <div class="d-flex align-center">
                <v-icon icon="fa-brands fa-git-alt" size="xx-large" />
                <table>
                    <tr>
                        <td>
                            <a href="https://gitlab.com/SIGSTACKFAULT/fleetwright-web-designer/" target="_new">
                                fleetwright-web-designer:
                            </a>
                        </td>
                        <td>{{ WEB_GIT_DESCRIBE }}</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://gitlab.com/SIGSTACKFAULT/fleetwright-meta/" target="_new">
                                fleetwright-meta:
                            </a>
                        </td>
                        <td>{{ META_GIT_DESCRIBE }}</td>
                    </tr>
                </table>
            </div>
        </v-card-text>
    </v-sheet>
</template>