<script setup lang=ts>
import { RouterLink } from "vue-router";
import { computed } from "vue";
import { useVModels } from "@vueuse/core";

const props = defineProps<{
    debug: boolean,
    theme: string,
}>();
const emits = defineEmits(["update:debug", "update:theme", "update:mode"]);

const { debug, theme } = useVModels(props, emits);

const theme_icon = computed(() => {
    switch (theme.value) {
        case "light":
            return "fas fa-sun";
        case "dark":
            return "fas fa-moon";
    }
    return "fas fa-moon";
});

const debug_icon = computed(() => {
    if (debug.value)
        return "fas fa-bug";
    else
        return "fas fa-bug-slash";
});

function toggle_theme() {
    if (theme.value == "dark")
        theme.value = "light";
    else
        theme.value = "dark";
}

function toggle_debug() {
    debug.value = !debug.value;
}

</script>

<template>
    <v-btn
        :icon="debug_icon"
        @click="toggle_debug"
    />
    <v-btn
        :icon="theme_icon"
        @click="toggle_theme"
    />
    <v-tabs>
        <v-tab to="/">
            Editor
        </v-tab>
        <v-tab to="/vtt">
            VTT
        </v-tab>
    </v-tabs>
</template>