<script setup lang=ts>
import TheToolbarButtons from "./TheToolbarButtons.vue";
import { useDisplay } from "vuetify";
import { useRoute } from "vue-router";
import { useVModels } from "@vueuse/core";

const emit = defineEmits([
    "update:debug",
    "update:theme",
]);
const props = defineProps<{
    debug: boolean,
    theme: string,
}>();

const $route = useRoute();
const { mobile } = useDisplay();
const { debug, theme } = useVModels(props, emit);
</script>

<template>
    <v-toolbar tag="header" color="primary" class="d-print-none">
        <v-toolbar-title class="py-2">
            FLEETWRIGHT SHIP DESIGNER
        </v-toolbar-title>
        <Transition>
            <v-btn
                v-if="$route?.meta?.back ?? true"
                aria-label="Back"
                variant="flat"
                color="white"
                prepend-icon="mdi mdi-chevron-left"
                class="mx-3"
                to=".."
            >
                Back
            </v-btn>
        </Transition>
        <v-spacer />
        <TheToolbarButtons
            v-if="!mobile"
            v-model:debug="debug"
            v-model:theme="theme"
        />
        <template v-if="mobile" #extension>
            <v-spacer />
            <TheToolbarButtons
                v-model:debug="debug"
                v-model:theme="theme"
            />
            <v-spacer />
        </template>
    </v-toolbar>
</template>

<style scoped lang="scss">
.v-toolbar {
    border-bottom: 0.5rem solid rgb(var(--v-theme-primary-alt));
    .v-toolbar__content {
        height: unset!important;
        flex-wrap: wrap;
        min-height: 4rem;
    }
    .v-toolbar-title {
        font-weight: bolder;
        flex: unset;
    }
}

.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  transform: translateY(-10rem);
}
</style>