<!-- eslint-disable no-unused-vars -->
<script setup lang=ts>
import { useClipboard, useVModels } from "@vueuse/core";
import { useNotifier } from "vuetify-notifier";
import { useRouter } from "vue-router";

const $notifier = useNotifier();
const $router = useRouter();
const { copy, isSupported } = useClipboard();


const props = defineProps<{
    endpoint: string,
    auto_connect: boolean,
    connected: boolean,
    loading: boolean,
}>();

const emit = defineEmits<{
    (e: "update:endpoint", endpoint: string): void
    (e: "update:auto_connect", value: boolean): void
    (e: "connect"): void
    (e: "offline"): void
    (e: "disconnect"): void
    (e: "cancel"): void
}>();

const { endpoint, auto_connect } = useVModels(props, emit);

function permalink(){
    $router.push({name: "vtt_permalink", params: {endpoint: endpoint.value}, replace: true});
    const link = window.location.href;
    if(isSupported){
        copy(link);
        $notifier.toastSuccess("Copied to clipboard!");
    } else {
        $notifier.alert(link);
    }
}

</script>

<template>
    <section>
        <v-text-field
            id="server-url"
            v-model="endpoint"
            label="Server"
            :disabled="connected"
            hide-details="auto"
        />
        <div class="d-grid" style="grid-template-columns: repeat(3, 2fr) max-content; align-items: center;">
            <v-btn
                color="primary"
                :disabled="connected"
                :loading="loading"
                @click="emit('connect')"
            >
                Connect
            </v-btn>

            <v-btn
                variant="outlined"
                :disabled="connected"
                @click="$emit('offline')"
            >
                [placeholder]
            </v-btn>
            <v-btn
                v-if="!loading"
                variant="outlined"
                :disabled="!connected"
                @click="$emit('disconnect')"
            >
                disconnect
            </v-btn>
            <v-btn
                v-else
                variant="outlined"
                @click="$emit('cancel')"
            >
                Cancel
            </v-btn>
            <v-btn icon="" variant="text">
                <v-icon icon="mdi mdi-dots-vertical" />
                <v-menu activator="parent" location="bottom left">
                    <v-list bg-color="simulation">
                        <v-list-item @click="permalink">
                            <template #prepend>
                                <v-icon icon="mdi mdi-link" />
                            </template>
                            Create link to this server
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-btn>
        </div>
        <v-checkbox
            id="auto-connect"
            v-model="auto_connect"
            label="auto-connect to most recent server on page load"
            density="compact"
            hide-details="auto"
            class="mx-3"
        />
        <v-card class="ma-3" variant="outlined">
            <v-card-text>
                <p>right-click-drag: pan</p>
                <p>left-click: select, move</p>
            </v-card-text>
        </v-card>
    </section>
</template>