<script setup lang=ts>
import { MySchema } from "@server/schema";
import { Room } from "colyseus.js";
import { computed } from "vue";
import { useVModels } from "@vueuse/core";

let was_just_ready = false;

const emit = defineEmits(["update:ready"]);
const props = defineProps<{
    ready: boolean,
    connected: boolean,
    room: Room | undefined,
    state: MySchema | undefined,
}>();


const { ready } = useVModels(props, emit);

function toggle_state() {
    if (props.connected) {
        props.room?.send("ready_up", { state: !ready.value });
        was_just_ready = ready.value;
        ready.value = !ready.value;
    }
}

const players_total = computed(() => {
    if (props.state?.players == undefined) return 0;
    return Object.keys(props.state.players).length;
});

const players_ready = computed(() => {
    let i = 0;
    if (props.state?.players == undefined) return 0;
    Object.values(props.state.players).forEach((p) => {
        if (p.ready) i++;
    });
    return i;
});


const waiting_for_you = computed(() => {
    if (was_just_ready) {
        // after un-readying, the first time this is called it's *before* the
        // server gets back to us about changing our ready state
        // without this logic it would flash "waiting for you" for a few frames 
        // if you're the second-to-last person ready
        was_just_ready = false;
        return false;
    }
    if (players_total.value == 1)
        return false;
    return players_ready.value == players_total.value - 1 && !ready.value;
});

const color = computed(() => {
    if (props.connected) {
        if (ready.value && (players_total.value > 1))
            return "secondary";
        else
            return "simulation";
    } else {
        return "disabled";
    }
});

</script>

<template>
    <v-sheet
        id="ready-up"
        v-ripple.center="connected"
        tag="section"
        class="pa-3"
        :data-waiting-for-you="waiting_for_you"
        :color="color"
        :aria-disabled="!connected"
        style="user-select: none;"
        @click="toggle_state();"
    >
        <div
            v-if="players_total == 1 && connected"
            class="text-button d-flex align-center justify-center"
            style="font-size:1.5rem!important;"
        >
            <v-tooltip activator="parent" open-delay="1000">
                You are alone in this server, so you can go to the next turn whenever you want
            </v-tooltip>
            Step
            <v-icon icon="mdi mdi-chevron-right" />
        </div>
        <div v-else>
            <!-- a real v-switch causes weird behaviour :( -->
            <v-input class="v-switch v-switch--inset" density="compact" hide-details="auto">
                <div
                    class="v-selection-control v-selection-control--density-default"
                    :class="{ 'v-selection-control--dirty': ready }"
                >
                    <div class="v-selection-control__wrapper">
                        <div class="v-switch__track" />
                        <div class="v-selection-control__input">
                            <input type="checkbox" :value="ready" aria-label="ready up">
                            <div class="v-switch__thumb" />
                        </div>
                    </div>
                    <div class="v-label text-button">
                        <template v-if="ready">
                            Ready!
                        </template>
                        <template v-else-if="waiting_for_you">
                            Waiting for you!
                        </template>
                        <template v-else>
                            Ready up!
                        </template>
                    </div>
                </div>
                <template v-if="connected" #append>
                    <span class="mono">
                        [{{ players_ready }}/{{ players_total }}]
                    </span>
                </template>
            </v-input>
        </div>
    </v-sheet>
</template>

<style scoped lang="scss">
section#ready-up[aria-disabled=true] {
    border-top: 1px solid rgb(var(--v-theme-simulation));
    cursor: not-allowed;
}

section#ready-up[aria-disabled=false] {
    cursor: pointer
}

section#ready-up[data-waiting-for-you=true] {
    animation: blinker 2s ease-in-out infinite;
    // background: linear-gradient(
    //     -45deg,
    //     transparent 49%,
    //     rgb(var(--v-theme-secondary)) 49% 51%,
    //     transparent 51%
    // ) rgb(var(--v-theme-simulation));
    // background-size:300% 100%;
    // animation: shine 3s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        filter: brightness(0.8);
    }
}

// @keyframes shine {
//     0% {
//         background-position: right;
//     }
// }</style>