html {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

main {
    flex-direction: column;
    margin-bottom: auto;
}


/////////////////////////////////////// .MAIN-GRID


main.main-grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: auto;
    grid-template-columns: 1fr 4fr 1fr;
}

main.main-grid.main-grid--offset {
    grid-template-columns: auto minmax(60rem, 60%) minmax(25rem, 25%);
}

main.main-grid[data-breakpoint=md]{
    display: flex;
    margin-inline: 5rem;
}

main.main-grid[data-breakpoint=sm], main[data-breakpoint=xs]{
    display: flex;
    margin-inline: 1rem;
}

main.main-grid {
    section {
        grid-column: 2/3;
    }

    section.wide {
        grid-column: 2/4;
    }

    aside {
        grid-column: 3/4;
        align-self: start;
    }
}


/////////////////////////////////////// ASSORTED GLOBAL STYLES


.d-grid {
    // not part of vuetify for some reason
    display: grid;
}

.d-flex, .d-grid {
    gap: 0.5rem;
}

h2 {
    font-weight: bold;
    font-size: 2em;
}

.mono {
    font-family: 'Fira Code', monospace
}

input[type=number]{
    @extend .mono;
    font-weight: bold;
}