@media print {
    ////////////////////////////////////////////////////////////////////////////
    // BOILERPLATE
    // adapted from https://github.com/h5bp/html5-boilerplate
    ////////////////////////////////////////////////////////////////////////////

    body {
        background: white !important;
    }

    *,
    *::before,
    *::after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    /*
  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  */

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    ////////////////////////////////////////////////////////////////////////////
    // MY ACTUAL CODE
    ////////////////////////////////////////////////////////////////////////////

    main {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    #overview .chip-box {
        gap: 0;
        .chip {
            border-left: 2px solid black;
            margin: 0;
            background-color: transparent !important;
        }
    }

    .ship-component {
        border: 1px solid black;
        page-break-inside: avoid;
    }
}