<script setup lang=ts>
import { RouterView } from "vue-router";
import { provide } from "vue";
import { useLocalStorage } from "@vueuse/core";
// components
import TheFooter from "./components/TheFooter.vue";
import TheToolbar from "./components/TheToolbar.vue";

const theme = useLocalStorage("theme", "dark");
const DEBUG = useLocalStorage("DEBUG", false);

provide("DEBUG", DEBUG);

</script>

<template>
    <v-app :theme="theme">
        <TheToolbar 
            v-model:theme="theme"
            v-model:debug="DEBUG"
        />
        <RouterView />
        <TheFooter />
    </v-app>
</template>

<style>
.v-application__wrap {
    overflow: auto;
    display: grid;
    grid-template-rows: min-content auto min-content;
}
</style>