<script setup lang=ts>
import { computed } from "vue";
import { ref } from "vue";
import { useDisplay } from "vuetify/lib/framework.mjs";
//model
import { Ship } from "../../Ship";
import { ship_yaml_export } from "../../serialization";

const props = defineProps<{
    ship: Ship,
}>();


const export_dialog = ref(false);
const { mobile } = useDisplay();

const export_text = computed(() => {
    if (export_dialog.value == false) {
        return "export modal is supposedly closed; not recomputing";
    }
    return ship_yaml_export(props.ship);
});

const filename = computed(() => {
    var filename;
    if(props.ship.name){
        filename = props.ship.name.trim().replace(/[^a-zA-Z0-9]/g, "-");
    } else {
        filename = "untitled";
    }
    if(props.ship.prefix)
        filename = `${props.ship.prefix}-` + filename;
    return filename + ".fwship";
});

function export_download() {
    var element = document.createElement("a");
    element.setAttribute("href", "data:text/plain;charset=utf-8," + encodeURIComponent(export_text.value));
    element.setAttribute("download", filename.value);
    element.style.display = "none";
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

</script>

<template>
    <v-dialog v-model="export_dialog" :fullscreen="mobile" activator="parent">
        <v-card class="mx-auto" width="1000px" min-width="50%" max-width="100%">
            <v-card-title class="d-flex align-center">
                <v-btn color="secondary" prepend-icon="fas fa-download" @click="export_download">
                    Download
                </v-btn>
                <em class="text-grey text-caption">{{ filename }}</em>
                <v-btn
                    color="primary"
                    variant="outlined"
                    icon="fas fa-close"
                    size="x-small"
                    class="ml-auto"
                    @click="export_dialog = false"
                />
            </v-card-title>
            <v-card-text>
                <v-textarea
                    placeholder="your ship data is empty something is probably broken"
                    class="mono"
                    readonly
                    rows="10"
                    :model-value="export_text"
                />
            </v-card-text>
        </v-card>
    </v-dialog>
</template>