<script setup lang=ts>
import { YAMLMap, parse } from "yaml";
import { ref } from "vue";
import { useDisplay } from "vuetify/lib/framework.mjs";
//model
import { Ship } from "../../Ship";
import { ship_yaml_import } from "../../serialization";


const import_value = ref("");
const import_dialog = ref(false);
const { mobile } = useDisplay();


// workaround https://github.com/eemeli/yaml/issues/446
Object.getPrototypeOf(YAMLMap).maxFlowStringSingleLineLength = 2000;

const emit = defineEmits<{
    // eslint-disable-next-line no-unused-vars
    (e: "import", id: Ship): void,
}>();


function import_file(event: any) {
    console.log("file dropped", event);
    event[0].text().then(
        (result: string) => {
            import_text(result);
        }
    );
    import_dialog.value = false;
}

function import_text(text: string) {
    if (text == null) {
        console.trace("x_import: text is null!", text);
        alert("text i'm supposed to import is null i have no idea why open an issue please");
        return;
    }
    let parsed = parse(text);
    console.log("parsed", parsed);
    if (parsed == null) {
        console.trace("x_import: yaml parser returned null; input was", text);
        alert("yaml parser returned null; i have no idea why. open an issue please.");
        return;
    }
    if (parsed.type != "ship") {
        alert(`expected type=ship, found type=${parsed.type}`);
        return;
    }
    emit(
        "import", 
        ship_yaml_import(parsed)
    );
}
</script>

<template>
    <v-dialog v-model="import_dialog" :fullscreen="mobile" activator="parent">
        <v-card
            class="mx-auto"
            width="1000px"
            min-width="50%"
            max-width="100%"
        >
            <v-card-title class="d-flex">
                <v-btn :disabled="import_value.length == 0" color="secondary" @click="import_text(import_value)">
                    Import
                </v-btn>
                <v-btn
                    color="primary"
                    variant="outlined"
                    icon="fas fa-close"
                    size="x-small"
                    class="ml-auto"
                    @click="import_dialog = false"
                />
            </v-card-title>
            <v-card-text>
                <v-file-input
                    clearable
                    show-size
                    label="Click to select, or drag-and-drop file..."
                    @update:model-value="import_file($event)"
                />
                <v-textarea
                    v-model="import_value"
                    clearable
                    placeholder="or paste here"
                    class="mono"
                    rows="5"
                    prepend-icon="fas fa-copy"
                />
            </v-card-text>
        </v-card>
    </v-dialog>
</template>