<script setup lang=ts>
import { ref } from "vue";
import { useDisplay } from "vuetify/lib/framework.mjs";


defineEmits(["update:name", "update:prefix", "update:callsign"]);
defineProps<{
    name: string,
    prefix: string | undefined,
    callsign: string | undefined,
}>();


const { mobile } = useDisplay();
const dialog = ref(false);

defineExpose({
    dialog,
});

</script>

<template>
    <v-overlay
        v-model="dialog"
        class="align-center justify-center"
        :fullscreen="mobile"
        activator="parent"
    >
        <v-card style="width:clamp(50vw, 50rem, 90vw);">
            <v-card-text>
                <v-text-field
                    id="ship-name-dialog--name"
                    label="Ship Name"
                    density="compact"
                    autofocus
                    :model-value="name"
                    @keyup.esc="dialog = false"
                    @update:model-value="$emit('update:name', $event)"
                >
                    <template #append-inner>
                        <v-btn
                            icon="fas fa-dice"
                            variant="plain"
                            size="small"
                            onclick="alert('ship name generator: not implemented yet!')"
                        />
                        <v-btn
                            icon="fas fa-check"
                            variant="plain"
                            size="small"
                            @click="dialog = false"
                        />
                    </template>
                </v-text-field>
                <div class="d-grid" style="grid-template-columns: repeat(3,1fr); align-items: start;">
                    <v-text-field
                        id="ship-name-dialog--prefix"
                        label="Prefix (optional)"
                        density="compact"
                        hint="e.g., HMS, USS, IJN"
                        :model-value="prefix"
                        @update:model-value="$emit('update:prefix', $event)"
                    />
                    <v-text-field
                        id="ship-name-dialog--callsign"
                        label="Callsign (optional)"
                        density="compact"
                        hint="typically like 'Mage 2', 'Strider 1'"
                        :model-value="callsign"
                        @keyup.esc="dialog = false"
                        @update:model-value="$emit('update:callsign', $event)"
                    />
                    <v-select
                        id="ship-name-dialog--icons"
                        disabled
                        density="compact"
                        label="#TODO: ship icons"
                    />
                </div>
                <div class="d-flex justify-center">
                    <v-btn
                        id="ship-name-dialog--close"
                        color="secondary"
                        prepend-icon="mdi mdi-close"
                        @click="dialog = false"
                    >
                        Close
                    </v-btn>
                </div>
            </v-card-text>
        </v-card>
    </v-overlay>
</template>