<script setup lang="ts">
import { computed } from "vue";
import { inject } from "vue";
import { round10 } from "expected-round";
// model
import type { BuffModuleProto } from "../../../globals";
import type { Ship } from "../../../Ship";
// components
import NumberChip from "../../NumberChip.vue";

export type Scaling = {
    volume: number,
    crew: number,
}

defineEmits(["update:active"]);
const props = defineProps<{
    ship: Ship,
    scaling: Scaling,
    module: BuffModuleProto,
    active: boolean,
}>();

const simulation = inject("simulation");

const scaling_value = computed(() => {
    switch (props.module.scaling_function) {
        case 1:
            return 1;
        case undefined:
        case "volume":
            return props.scaling.volume;
        case "crew":
            return props.scaling.crew;
        default:
            console.trace("unknown scaling_function", props.module.scaling_function);
            return NaN;
    }
});

function miltiplier_to_percentage(multiplier: number) {
    var scaled = multiplier ** scaling_value.value;
    var normalized = Math.abs(multiplier > 0 ? (scaled - 1) : (1 - scaled));
    var percentage = normalized * 100;
    return round10(percentage, -3);
}
</script>

<template>
    <v-switch
        v-if="module.active"
        hide-details="auto"
        density="compact"
        color="simulation"
        :disabled="!simulation"
        v-bind="active"
        label="Active Buff"
        @update:model-value="$emit('update:active', $event)"
    />
    <div style="display:flex; grid-template-columns: max-content max-content; gap:10px">
        <NumberChip
            v-for="(delta, stat) in module.add"
            :key="stat"
            :name="stat"
            color="secondary"
        >
            +{{ round10(delta * scaling_value, -3) }}
        </NumberChip>
        <NumberChip
            v-for="(multiplier, stat) in module.multiply"
            :key="stat"
            :name="stat"
            color="secondary"
        >
            <template v-if="multiplier < 1">
                -
            </template>
            <template v-else>
                +
            </template>
            {{ miltiplier_to_percentage(multiplier) }}%
        </NumberChip>
    </div>
    <span v-if="module.active">Requires:</span>
    <div style="display:grid; grid-template-columns: max-content max-content; gap:0 10px">
        <span
            v-for="(amount, resource) in module.active"
            :key="resource"
        >
            <i>{{ amount * scaling_value }} {{ resource }}/turn</i>
        </span>
    </div>
</template>