<script setup lang=ts>
import { computed } from "vue";
// model
import type { BuffModuleProto } from "../../../globals";
import type { Scaling } from "./BuffModule.vue";
import type { Ship } from "../../../Ship";
// components
import BuffModule from "./BuffModule.vue";

const emit = defineEmits(["update:choice_index"]);
const props = defineProps<{
    ship: Ship,
    module: BuffModuleProto[],
    scaling: Scaling,
    choice_index: number,
}>();

if(props.choice_index == undefined){
    emit("update:choice_index", 0);
}

const selection = computed(() => props.module[props.choice_index]);

function update_selection(index:number){
    emit("update:choice_index", index);
}

</script>

<template>
    <v-select v-model="selection" :items="module">
        <template #item="{ item, index }">
            <v-list-item @click="update_selection(index)">
                <BuffModule :ship="ship" :module="item.value" :scaling="scaling" :active="false" />
            </v-list-item>
        </template>
        <template #selection="{item}">
            <BuffModule :ship="ship" :module="item.value" :scaling="{volume:1, crew:1}" :active="false" />
        </template>
    </v-select>
</template>