<script setup lang=ts>
import { computed, ref } from "vue";
import { useDisplay } from "vuetify";
import { useVModel } from "@vueuse/core";
// components
import MissileEditor from "./MissileEditor.vue";
import { onMounted } from "vue";

export type Missile = {
    guidance: string,
    payload: string,
    propulsion: string,
    count: number,
}

const props = defineProps<{
    missiles: Missile[],
    volume: number,
    size: "light" | "heavy",
}>();
const emit = defineEmits(["update:missiles"]);

const { mobile } = useDisplay();
const dialog_state = ref(false);
const editors = ref<typeof MissileEditor[]>([]);

const max_missiles = computed<number>(() => {
    switch (props.size) {
        case "heavy":
            return props.volume;
        case "light":
            return props.volume * 8;
    }
    return NaN;
});

const missiles = useVModel(props, "missiles", emit);
console.error("missiles asdfoihasdfopihasdfiohasdfoph", props.missiles);

onMounted(() => {
    if (missiles.value.length == 0) {
        add_missile();
        missiles.value[0].count = max_missiles.value;
    }
});

/**
 * the "+ add missile" button
 */
function add_missile() {
    missiles.value.push({
        guidance: "command_guidance",
        payload: "kinetic",
        propulsion: "none",
        count: 1,
    });
    emit("update:missiles", missiles.value);
}

const total_price = computed(() => {
    let sum = 0;
    for(const e of editors.value){
        sum += e.price;
    }
    return sum;
});


</script>

<template>
    <v-dialog
        v-model="dialog_state"
        :close-on-content-click="false"
        :fullscreen="mobile"
    >
        <template #activator="{ props: trigger }">
            <v-btn
                color="secondary"
                append-icon="fas fa-angle-right"
                v-bind="trigger"
            >
                Missiles&nbsp;
                <b class="mono">
                    {{ missiles.reduce((prev, current) => prev + current.count, 0) }}/{{ max_missiles }}
                </b>
            </v-btn>
        </template>
        <v-list>
            <v-list-item>
                <div class="d-flex align-center">
                    <v-btn
                        id="add-missile"
                        variant="elevated"
                        color="primary"
                        prepend-icon="fas fa-add"
                        @click="add_missile()"
                    >
                        add missile
                    </v-btn>
                    <v-spacer />
                    <v-btn
                        variant="plain"
                        @click="dialog_state = false"
                    >
                        CLOSE
                    </v-btn>
                </div>
                <v-spacer />
                <b class="mono">{{ missiles.reduce((prev, current) => prev + current.count, 0) }}/{{ max_missiles }}</b>
                &bull;
                <b class="mono">&curren;{{ total_price }}</b>
            </v-list-item>
            <v-list-item
                v-for="(missile, i) in missiles"
                :key="`${missile.guidance},${missile.payload},${missile.propulsion},${missile.count}`"
            >
                <MissileEditor
                    ref="editors"
                    v-model:guidance="missiles[i].guidance"
                    v-model:payload="missiles[i].payload"
                    v-model:propulsion="missiles[i].propulsion"
                    v-model:count="missiles[i].count"
                    :size="size"
                    :max_missiles="max_missiles"
                />
            </v-list-item>
            <v-list-item v-if="missiles.length == 0">
                <v-card
                    variant="outlined"
                    color="warning"
                >
                    <v-card-text>
                        no missiles!
                    </v-card-text>
                </v-card>
            </v-list-item>
        </v-list>
    </v-dialog>
</template>