<script setup lang=ts>
import { computed } from "vue";
import { data } from "@/globals";
import { round10 } from "expected-round";
import { useVModels } from "@vueuse/core";

const emits = defineEmits([
    "update:guidance",
    "update:payload",
    "update:propulsion",
    "update:count",
    "delete",
]);
const props = defineProps<{
    guidance: string,
    payload: string,
    propulsion: string,
    count: number,
    size: "light" | "heavy",
    max_missiles: number,
}>();

const { guidance, payload, propulsion, count } = useVModels(props, emits);

const single_price = computed(() => {
    return (
        + data?.missiles?.guidance[guidance.value].price[props.size]
        + data?.missiles?.payload[payload.value].price[props.size]
        + data?.missiles?.propulsion[propulsion.value].price[props.size]
    );
});

const price = computed(() => {
    return single_price.value * count.value;
});

defineExpose({
    single_price, price,
});

</script>

<template>
    <v-card variant="outlined">
        <v-card-text>
            <div class="d-grid align-center" style="grid-template-columns: repeat(4,1fr) auto;">
                <v-select
                    v-model="guidance"
                    cy-id="missile-edit--guidance"
                    label="Guidance"
                    hint="required"
                    persistent-hint
                    :items="Object.keys(data?.missiles?.guidance)"
                >
                    <template #item="{ item }">
                        <v-list-item @click="guidance = item.value">
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            <v-list-item-subtitle>
                                &curren;{{
                                    data?.missiles?.guidance[item.value].price[size]
                                }}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </template>
                </v-select>
                <v-select
                    v-model="payload"
                    cy-id="missile-edit--payload"
                    label="Payload"
                    hint="required"
                    persistent-hint
                    :items="Object.keys(data?.missiles?.payload)"
                >
                    <template #item="{ item }">
                        <v-list-item @click="payload = item.value">
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            <v-list-item-subtitle>
                                &curren;{{
                                    data?.missiles?.payload[item.value].price[size]
                                }}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </template>
                </v-select>
                <v-select
                    v-model="propulsion"
                    cy-id="missile-edit--propulsion"
                    label="Propulsion"
                    hint="optional"
                    persistent-hint
                    :items="Object.keys(data?.missiles?.propulsion)"
                >
                    <template #item="{ item, }">
                        <v-list-item @click="propulsion = item.value">
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            <v-list-item-subtitle>
                                &curren;{{
                                    data?.missiles?.propulsion[item.value].price[size]
                                }}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </template>
                </v-select>
                <v-select
                    v-model="count"
                    cy-id="missile-edit--count"
                    label="Count"
                    :hint="`1-${max_missiles}`"
                    persistent-hint
                    :items="[...Array((max_missiles ?? 0) + 1).keys()]"
                />
                <v-btn
                    cy-id="missile-edit--delete"
                    icon="fas fa-remove"
                    variant="plain"
                    @click="$emit('delete')"
                />
            </div>
            <p>
                <b class="mono">&curren;{{ round10(single_price, -2) }}</b>/missile &times;
                <b class="mono">{{ count }}</b> missile{{ count==1?'':'s' }} =
                <b class="mono">&curren;{{ round10(price, -2) }}</b>
            </p>
        </v-card-text>
    </v-card>
</template>