<script setup>
import { reactive, toRef } from "vue";
import { Component } from "../../../Component";
import { Ship } from "../../../Ship";

const props = defineProps({
    ship: {
        type: Ship,
        required: true,
    },
    component: {
        type: Component,
        required: true,
    },
    module: {
        type: Object,
        required: true,
    },
    module_enabled: {
        type: Boolean,
        required: true,
    },
});

props.component.set_data({occupied: true});
const occupied = toRef(reactive(props.component.data), "occupied");
</script>

<template>
    Quarters: {{ module.crew * component.volume }} Crew
    <span v-if="component.volume > 1">({{ module.crew }}/vol)</span>
    <v-checkbox v-model="occupied" label="Occupied" hide-details="false" />
</template>