<script setup lang=ts>
//vue
import { inject, reactive } from "vue";
//model
import { Component } from "../../../Component";
import { Ship } from "../../../Ship";
//components
import MissilesEditor from "./MissilesEditor.vue";
import NumberChip from "../../NumberChip.vue";

const props = defineProps<{
    ship: Ship,
    component: Component,
    module: any,
    module_enabled: Boolean,
}>();
defineEmits(["update:module_enabled"]);

const simulation = inject("simulation");

if (!Array.isArray(props.component.data)) {
    // we were just created
    props.component.set_data([]);
}

/** @type {Array} */
const missiles = reactive(props.component.data);
</script>

<template>
    <v-switch
        hide-details="auto"
        density="compact"
        color="simulation"
        :disabled="!simulation"
        v-bind="module_enabled"
        @update:model-value="$emit('update:module_enabled', $event)"
    >
        <template #label>
            Guided Weapon:&nbsp;<b class="mono">{{ Math.ceil((module.active?.ENERGY ?? 0) * component.volume) }}</b>&nbsp;energy/shot
        </template>
    </v-switch>
    <div class="d-flex">
        <MissilesEditor
            v-if="module.launch_method == 'vls'"
            v-model:missiles="missiles"
            :volume="component.volume"
            :size="module.size"
        />
        <NumberChip v-if="module.muzzle_velocity_multiplier" name="Muzzle Vel." color="secondary">
            {{ Math.floor(Math.sqrt(component.volume) * module.muzzle_velocity_multiplier) }}
        </NumberChip>
    </div>
</template>