<script setup>
//vue
import { computed, inject, reactive } from "vue";
//model
import { Component } from "../../../Component";
import { Ship } from "../../../Ship";
//components
import NumberChip from "../../NumberChip.vue";
import NumberEditor from "../../NumberEditor.vue";


const props = defineProps({
    ship: {
        type: Ship,
        required: true,
    },
    component: {
        type: Component,
        required: true,
    },
    module: {
        type: Object,
        required: true,
    },
    module_enabled: {
        type: Boolean,
        required: true,
    },
});
defineEmits(["update:module_enabled"]);

const simulation = inject("simulation");

if(props.component.data == null){
    // we were just created
    props.component.set_data({});
}

const upgrades = reactive(props.component.data);
upgrades.range = upgrades.range ?? 0;
upgrades.power = upgrades.power ?? 0;
upgrades.special = upgrades.special ?? 0;

const total_upgrade_points = computed(() => {
    return upgrades.range + upgrades.power + upgrades.special;
});

function calc_range_bracket(which_bracket) {
    let base = props.module.range[which_bracket];
    let per_volume = props.module.range_upgrade[which_bracket] ?? 0;
    return base + per_volume * upgrades.range;
}
const damage = computed(() => {
    return props.module.power + props.module.power_upgrade * upgrades.power;
});

</script>

<template>
    <v-switch
        hide-details="auto"
        density="compact"
        color="simulation"
        :disabled="!simulation"
        v-bind="module_enabled"
        @update:model-value="$emit('update:module_enabled', $event)"
    >
        <template #label>
            Direct-Fire Weapon:&nbsp;<b class="mono">{{ module.active.ENERGY * component.volume }}</b>&nbsp;energy/shot
        </template>
    </v-switch>
    <div class="d-flex">
        <v-menu
            open-on-hover
            :close-on-content-click="false"
            close-delay="10000"
        >
            <template #activator="{ props: trigger }">
                <v-btn
                    color="secondary"
                    append-icon="fas fa-angle-right"
                    v-bind="trigger"
                >
                    Upgrades
                </v-btn>
            </template>
            <v-list
                bg-color="simulation"
                min-width="400px"
            >
                <v-list-item>
                    <b>Range: </b>
                    <NumberEditor v-model:n="upgrades.range" />
                </v-list-item>
                <v-list-item>
                    <b>Power: </b>
                    <NumberEditor v-model:n="upgrades.power" />
                </v-list-item>
                <v-list-item>
                    <b>Third Thing:&trade; </b>
                    <NumberEditor v-model:n="upgrades.special" />
                </v-list-item>
                <v-list-item>
                    <v-card variant="outlined">
                        <v-card-text>
                            <i>
                                Upgrade Points:
                                <b class="mono">{{ total_upgrade_points }}/{{ component.volume }}</b>
                            </i>
                        </v-card-text>
                    </v-card>
                </v-list-item>
            </v-list>
        </v-menu>
        <NumberChip
            color="secondary"
            name="Range"
        >
            {{ calc_range_bracket("precision_targeting") }}/{{ calc_range_bracket("gauranteed_hit") }}/{{
                calc_range_bracket("probable_hit")
            }}
        </NumberChip>
        <NumberChip
            color="secondary"
            name="Damage"
        >
            {{ damage }}
        </NumberChip>
    </div>
</template>